/* roboto-regular - latin_cyrillic */
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   src: local('Roboto'), local('Roboto-Regular'),
   url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
   url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'); /* Modern Browsers */
}

/* roboto-700 - latin_cyrillic */
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   src: local('Roboto Bold'), local('Roboto-Bold'),
   url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
   url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'); /* Modern Browsers */
}

/* roboto-900 - latin_cyrillic */
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 900;
   src: local('Roboto Black'), local('Roboto-Black'),
   url('../fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
   url('../fonts/roboto-v20-latin_cyrillic-900.woff') format('woff'); /* Modern Browsers */
}
.site {
   overflow: hidden;
}

html, body {
   font-family: Roboto;
   margin: 0;
}

/*--- header ---*/
.header {
   background-color: #fbfbfb;
   padding-top: 29px;
   padding-bottom: 40px;
}

.container {
   margin: auto;
   max-width: 1170px;
}
.container_header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__left {

}

.header-left__menu-btn {
   display: none;
   width: 100%;
   height: auto;
   border: none;
   background-color: transparent;
   cursor: pointer;
}
.fa-bars {
   font-size: 40px;
   background: -webkit-gradient(linear, left bottom, right top, from(#ff8f5a), to(#ff2f96));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.header-left__menu-nav {

}
.header-left__menu-close {
   display: none;
   width: 28px;
   height: 28px;
   background: url(../img/close.png) 0 0 repeat;
   position: absolute;
   right: 20px;
   top: 20px;
   z-index: 100;
}

.menu-nav__menu-list {
   list-style: none;
   margin: 0;
   padding-left: 0;
}

.menu__item {
   display: inline;
   margin-right: 28px;
}

.menu__item:last-child {
   margin-right: 0;
}

.menu-item__link {
   display: inline-block;
   text-decoration: none;
   color: #fc557c;
   line-height: 1;
}
.menu-item__link:after,
.footer-menu__a:after {
   background-color: #fc557c;
   display: block;
   content: "";
   height: 2px;
   width: 0;
   -webkit-transition: width .3s ease-in-out;
   -moz-transition: width .3s ease-in-out;
   transition: width .3s ease-in-out;
}
.menu-item__link:hover:after,
.footer-menu__a:hover:after {
   width: 100%;
}

/* Mobile menu */
.mobile-menu__popup {
   display: none;
   background: #2c2e3e;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   padding: 30px;
   z-index: 9999;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.mobile-menu__close {
   display: block;
   width: 28px;
   height: 28px;
   background: url(../img/close.png) 0 0 repeat;
   position: absolute;
   right: 20px;
   top: 20px;
   z-index: 100;
}
.mobile-menu__menu-list {
   margin: 0;
   padding: 0;
}
.mobile-menu__item {
   list-style: none;
   margin: 10px 0;
   padding: 0;
}
.mobile-menu-item__link {
   font-size: 18px;
   color: rgb(255, 255, 255);
   line-height: 1.4;
   text-decoration: none;
}
.body_pointer * {
   cursor: pointer;
}

.header__right {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__tel-number {
   font-size: 1.36vw;
   margin-right: 25px;
   font-weight: bold;
   text-decoration: none;
   color: black;
}

.btn_blank {
   background-color: transparent;
   color: #fc557c;
   font-size: 16px;
   text-decoration: none;
   border: 1px solid #fc557c;
   padding: 12px 43px;
   border-radius: 3px;
   cursor: pointer;
   transition: transform ease-in-out .3s, box-shadow ease-in-out .3s;
}
.btn_blank:hover {
   box-shadow: 0 11px 14px rgba(252,85,124,.4);
   transform: translateY(-5px);
}

/*--- Presentation ---*/
.presentation {
   background-color: #fbfbfb;
   position: relative;
   padding-bottom: 237px;
}

.flying-symbol {
   font-weight: bold;
   position: absolute;
   left: 0;
   top: 0;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1) .5s;
}

.flying-symbol_fly-1 {
   transform: rotate(30deg) translateX(6.3vw) translateY(-2.5vw);
   font-size: 50px;
   background-image: linear-gradient(to bottom right, #ff2f96, #ff8f5a);
}
.flying-symbol_fly-2 {
   transform: rotate(16deg) translateX(15.9vw) translateY(8.9vw);
   font-size: 55px;
   background-image: linear-gradient(to bottom right, #ff2f96, #ff8f5a);
}
.flying-symbol_fly-3 {
   transform: rotate(-22deg) translateX(7.4vw) translateY(34vw);
   font-size: 42px;
   background-image: linear-gradient(to bottom left, #ff2f96, #ff8f5a);
}
.flying-symbol_fly-4 {
   transform: rotate(-12deg) translateX(39.5vw) translateY(11vw);
   font-size: 32px;
   background-image: linear-gradient(to bottom left, #ff2f96, #ff8f5a);
}
.flying-symbol_fly-5 {
   transform: rotate(20deg) translateX(54.2vw) translateY(3.9vw);
   font-size: 36px;
   background-image: linear-gradient(to bottom right, #ff2f96, #ff8f5a);
}
.flying-symbol_fly-tablet {
   display: none;
   transform: rotate(-22deg) translateX(54.2vw) translateY(3.9vw);
   font-size: 45px;
   background-image: linear-gradient(to bottom left, #ff2f96, #ff8f5a);
}

.flying-symbol_anim {
   transform: translateX(-12vw) translateY(10vh);
}

.container_presentation {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
}

.my-name {
   font-size: 80px;
   font-weight: 900;
   margin-top: 173px;
   margin-bottom: 14px;
}

.my-description {
   font-size: 25px;
   font-weight: 300;
   color: #8993ad;
   margin-bottom: 45px;
   margin-top: 0;
}

.btn_red {
   color: white;
   background-color: #ff4e2e;
   text-decoration: none;
   border-radius: 3px;
   padding: 19px 70px;
   font-size: 18px;
   text-shadow: 0 0 1px gray;
   cursor: pointer;
   max-width: 130px;
   transition: transform ease-in-out .3s, box-shadow ease-in-out .3s;
}
.btn_red:hover {
   box-shadow: 0 11px 14px rgba(255,78,46,.4);
   transform: translateY(-5px);
}
.btn_red_presentation {

}

.presentation__color-figure {
   position: absolute;
   z-index: 1;
   width: 1250px;
   height: auto;
   top: -51px;
   right: -281px;
}

.presentation__man {
   position: absolute;
   z-index: 3;
   width: 563px;
   right: 207px;
   top: -6px;
}

/*--- What i do ---*/
.what-i-do {
   position: relative;
   padding-bottom: 5.39vw;
   padding-top: 4.52vw;
   z-index: 2;
   background-color: #FFFFFF;
}

.container_what-i-do {
   text-align: center;
}

.section__title {
   font-size: 2.8vw;
   font-weight: bold;
}
.what-i-do__title {
   margin-bottom: 90px;
   margin-top: 0;
}

.abilities {
   display: flex;
   justify-content: space-between;
   margin-bottom: 75px;
   width: 100%;
}

.abilities__ability {
   background-repeat: no-repeat;
   background-position: center top;
   width: 25%;
}

.ability__descr {
   font-size: 1.05vw;
   margin-top: 92px;
   text-align: center;
   line-height: 27px;
   color: #8993ad;
}

.abilities__ability_layout {
   background-image: url('../img/ability-pc.png');
}
.abilities__ability_adaptive {
   background-image: url('../img/ability-responsive.png');
}
.abilities__ability_frontend {
   background-image: url('../img/ability-frontend.png');
}
.abilities__ability_correction {
   background-image: url('../img/ability-coding.png');
}

.btn_red_what-i-do {
   padding: 19px 62px;
   display: inline-block;
   max-width: 290px;
   border: 0;
}

/*--- My works ---*/
.my-works {
   background-color: #fbfbfb;
   padding-bottom: 5.3vw;
   padding-top: 4.73vw;
}

.container_my-works {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.my-works__title {
   margin-bottom: 100px;
   margin-top: 0;
}

/*--- Swiper ---*/
.container-for-swiper {
   position: relative;
   width: 100%;
   height: 100%;
}
.swiper-container {
   width: 100%;
   height: 350px;
   margin-bottom: 92px;
}
.swiper-slide {
   text-decoration: none;
   color: #000;
}
.swiper-slide__img {
   width: 100%;
}
.swiper-slide__discr {
   text-align: center;
   font-size: 1.05vw;
   color: #8993ad;
   font-weight: 300;
   margin-top: 34px;
}
.swiper-button-prev,
.swiper-button-next {
   z-index: 2;
   width: 61px;
   height: 60px;
   top: 32%;
}
.swiper-button-prev {
   background-image: url("../img/arrow-left.png");
   left: -30px;
   border-radius: 100%;
   -webkit-box-shadow: -4px 0px 12px 0px rgba(240, 240, 240, 0.2);
   -moz-box-shadow: -4px 0px 12px 0px rgba(240, 240, 240, 0.2);
   box-shadow: -4px 0px 12px 0px rgba(240, 240, 240, 0.2);
}
.swiper-button-next {
   background-image: url("../img/arrow-right.png");
   right: -20px;
   border-radius: 100%;
   -webkit-box-shadow: 4px 0px 12px 0px rgba(240, 240, 240, 0.2);
   -moz-box-shadow: 4px 0px 12px 0px rgba(240, 240, 240, 0.2);
   box-shadow: 4px 0px 12px 0px rgba(240, 240, 240, 0.2);
}
.swiper-button-prev::after,
.swiper-button-next::after {
   display: none;
}
.swiper-pagination {
   height: 22px;
   display: none;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
   margin: 0 14px;
}
.swiper-pagination-bullet {
   width: 20px;
   height: 20px;
}
.swiper-pagination-bullet-active {
   background: #ff4e2e;
}

.btn_red_my-works {
   padding: 19px 67px;
   max-width: 290px;
   border: 0;
   margin-top: 2px;
}

/*--- Promo ---*/
.promo {
   padding-top: 3.95vw;
   padding-bottom: 4.1vw;
   background-image: linear-gradient(to top right, #ff8f5a 30%, #ff2f96 70%);
   position: relative;
}

.promo .flying-symbol {
   -webkit-text-fill-color: white;
}

.promo__flying-symbol_fly-1 {
   transform: rotate(28deg) translateX(7.4vw) translateY(-0.4vw);
   font-size: 48px;
}

.promo__flying-symbol_fly-2 {
   transform: rotate(16deg) translateX(15.9vw) translateY(8.9vw);
   font-size: 56px;
}

.promo__flying-symbol_fly-3 {
   transform: rotate(20deg) translateX(75vw) translateY(-10.6vw);
   font-size: 37px;
}

.promo__flying-symbol_fly-4 {
   transform: rotate(-22deg) translateX(78.6vw) translateY(36vw);
   font-size: 39px;
}

.promo__flying-symbol_fly-5 {
   transform: rotate(-19deg) translateX(82.7vw) translateY(42.6vw);
   font-size: 48px;
}

.promo__flying-symbol_anim {
   transform: translateX(46vw) translateY(20vw);
}

.container_promo {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   max-width: 50%;
}

.promo__title {
   font-size: 2.34vw;
   font-weight: bold;
   margin: 0 auto 29px auto;
   max-width: 950px;
   color: white;
   line-height: 1.37;
}

.promo__description {
   font-size: 1vw;
   margin: 0;
   color: white;
   max-width: 42em;
   line-height: 1.6;
}

.promo__description::before {
   content: '*';
   position: absolute;
   left: 24.3%;
}

/*--- Footer ---*/
.footer {

}

.container_footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-left__menu-nav_footer {
   margin-top: 4.3vw;
   margin-bottom: 4.8vw;
}

.menu-nav__menu-list_footer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   font-size: 18px;
}

.menu__item_footer {

}

.menu__item_footer:first-child,
.menu__item_footer:nth-last-child(2) {
   margin-bottom: 10px;
}

.menu-item__link_footer {
   color: #8993ad;
}

/* Footer Center */
.footer__contacts {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-end;
   padding-left: 70px;
}

.footer__tel {
   align-self: flex-start;
   margin-bottom: 30px;
}
.footer-tel__number {
   color: black;
   font-size: 25px;
   text-decoration: none;
}
.footer-tel__number i {
   margin-right: 10px;
   background: linear-gradient(to bottom, #ff2f96, #f38855);
   font-size: 20px;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.footer__mail {
   margin-bottom: 10px;
}
.footer-mail__text {
   color: black;
   font-size: 25px;
   text-decoration: none;
}
.footer-mail__text i {
   margin-right: 21px;
   background: linear-gradient(to top, #ff2f96, #f38855);
   font-size: 20px;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

/* Footer Right */
.footer__interaction {
   margin-right: 23px;
}

.btn_blank_footer {
   display: inline-block;
   margin-bottom: 30px;
   padding: 12px 62px;
}

.footer__social-networks /* UL */ {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   width: 200px;
   height: 35px;
   padding-left: 0;
   margin: 0;
}
.social-networks__item {
   list-style: none;
   width: auto;
   height: auto;
}
.social-networks__link {
   display: inline-block;
   transition: filter .3s;
}
.social-networks__link:hover {
   filter: brightness(.4);
   transition: filter .3s;
}

.footer__vk {
   width: 37px;
   height: 23px;
   background-image: url(../img/social-networks.png);
   background-position: 0 -2px;
   background-repeat: no-repeat;
}

.footer__facebook {
   width: 18px;
   height: 30px;
   background-image: url(../img/social-networks.png);
   background-position: -44px 0;
   background-repeat: no-repeat;
}

.footer__twitter {
   width: 31px;
   height: 27px;
   background-image: url(../img/social-networks.png);
   background-position: -69px 0;
   background-repeat: no-repeat;
}

.footer__instagram {
   width: 27px;
   height: 26px;
   background-image: url(../img/social-networks.png);
   background-position: -102px -1px;
   background-repeat: no-repeat;
}

/*--- Basement ---*/
.basement {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   background-color: #31293c;
}

.basement__p {
   color: white;
   margin-top: 32px;
   margin-bottom: 32px;
}

/*--- Modal ---*/
.modal-div {
   width: 500px;
   height: 400px; /* Размеры должны быть фиксированы */
   background: #f3f3f3;
   font-family: Nunito, Roboto, sans-serif;
   border-radius: 1px;
   position: fixed; /* чтобы окно было в видимой зоне в любом месте */
   top: 45%; /* отступаем сверху 45%, остальные 5% подвинет скрипт */
   left: 45%; /* половина экрана слева */
   margin-top: -150px;
   margin-left: -150px; /* отступаем влево и вверх минус половину ширины и высоты соответственно */
   display: none; /* в обычном состоянии окна не должно быть */
   opacity: 0; /* полностью прозрачно для анимирования */
   z-index: 5; /* окно должно быть наиболее большем слое */
   padding: 2px 0 0 2px;
   line-height: 20px;
}
.modal-div:before {
   content: "";
   width: 80%;
   height: 17%;
   position: absolute;
   border-top: 2px solid #ff2f96;
   border-left: 2px solid #ff2f96;
   pointer-events: none;
}
.modal-div:after {
   content: "";
   width: 80%;
   height: 17%;
   position: absolute;
   border-bottom: 2px solid #ff8f5a;
   border-right: 2px solid #ff8f5a;
   left: 19.2%;
   top: 82%;
   pointer-events: none;
}

.error {
   border: 2px solid rgba(229, 66, 66, .8) !important;
}

.modal_close {
   width: 35px;
   height: 32px;
   padding-right: 5px;
   position: absolute;
   top: -5px;
   right: -40px;
   cursor: pointer;
   display: block;
   border: 0;
   background: 0;
}
.fa-times {
   font-size: 35px;
   color: #f3f3f3;
}

.form-callback {

}

.form__title {
   text-align: center;
   margin-top: 13px;
   margin-bottom: 15px;
}

.input {
   height: 37px;
   width: 99%;
   background-color: #f0f4f8;
   border: 1px solid #BDC9D6;
   border-radius: 1px;
   box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
   padding: 4px;
   font-size: 17px;
   outline: none;
   transition: box-shadow ease-in-out .15s;
   box-sizing: border-box;
}
.input:focus {
   -webkit-box-shadow: 0 0 6px 0 rgba(34, 60, 80, 0.2);
   -moz-box-shadow: 0 0 6px 0 rgba(34, 60, 80, 0.2);
   box-shadow: 0 0 6px 0 rgba(34, 60, 80, 0.2);
   transition: box-shadow ease-in-out .15s;
}
.input:valid:not(:placeholder-shown) {
   border: 2px solid rgba(0, 165, 80, .8);
}
/* .input:invalid:not(:placeholder-shown) {
   border: 2px solid rgba(229, 66, 66, .8);
} */

.form__input-name {
   display: block;
   margin: 0 20px 10px 20px;
}
.input-name__text {
   display: block;
   margin-bottom: 6px;
}
.input-name__input {}

.form__input-tel {
   display: block;
   margin: 0 20px 10px 20px;
}
.input-tel__text {
   display: block;
   margin-bottom: 6px;
}
.input-tel__input {}

.form__input-email{
   display: block;
   margin: 0 20px 10px 20px;
}
.input-message__email {
   display: block;
   margin-bottom: 6px;
}
.input-email__input {
   display: block;
   margin-bottom: 6px;
}

.form__privacy-policy {
   margin: 0 0 10px 20px;
   font-size: 14px;
   color: #848484;
}
.privacy-policy__input {
   margin-left: 0;
}
.privacy-policy__link {
   font-size: 14px;
   color: #e54242;
}
.is-required {
   color: red;
   font-size: 14px;
}
.form__or-call {
   display: block;
   margin: 0 20px 20px 20px;
   color: #000;
}
.privacy-policy__tel-number {
   color: #000;
   text-decoration: none;
}

.form__submit {
   padding: 12px 20px;
   line-height: 100%;
   border-radius: 3px;
   margin-left: 20px;
   cursor: pointer;
   font-size: 17px;
   color: #FFF;
   background: #ff4e2e;
   border: none;
   transition: background ease-in-out .15s;
}
.form__submit:hover {
   background: #00a550;
   transition: background ease-in-out .15s;
}

/* Подложка */
.overlay {
   z-index: 4; /* подложка должна быть выше слоев элементов сайта, нo ниже слоя модального окна */
   position: fixed; /* всегда перекрывает весь сайт */
   background-color: #000; /* черная */
   opacity: 0.8; /* нo немного прозрачна */
   -moz-opacity: 0.8; /* фикс прозрачности для старых браузеров */
   filter: alpha(opacity=80);
   width: 100%;
   height: 100%; /* размером вo весь экран */
   top: 0; /* сверху и слева 0, обязательные свойства! */
   left: 0;
   cursor: pointer;
   display: none; /* в обычном состоянии её нет) */
}

/*--- Media ---*/
/*--- Desktop ---*/
@media (max-width: 1700px) {
   .flying-symbol_fly-1 {
      transform: rotate(30deg) translateX(4.3vw) translateY(-1.5vw);
   }
   .flying-symbol_fly-2 {
      transform: rotate(16deg) translateX(8.9vw) translateY(15.9vw);
   }
   .flying-symbol_fly-3 {
      transform: rotate(-22deg) translateX(5.4vw) translateY(36vw);
   }
   .flying-symbol_fly-5 {
      transform: rotate(20deg) translateX(43.2vw) translateY(9.9vw);
   }
   .my-name {
      font-size: 75px;
   }
   .presentation__color-figure {
      width: 1200px;
      top: -54px;
      right: -347px;
   }
   .presentation__man {
      width: 557px;
      right: 120px;
      top: -5px;
   }
}
@media (max-width: 1450px) {
   .header__tel-number {
      font-size: 1.5vw;
   }
   .flying-symbol_fly-1 {
      transform: rotate(30deg) translateX(10.3vw) translateY(-5.5vw);
   }
   .flying-symbol_fly-2 {
      transform: rotate(16deg) translateX(17.9vw) translateY(29.9vw);
   }
   .flying-symbol_fly-3 {
      transform: rotate(-22deg) translateX(18.4vw) translateY(40vw);
   }
   .flying-symbol_fly-5 {
      display: none;
   }
   .my-name {
      font-size: 65px;
   }
   .presentation__color-figure {
      width: 1160px;
      top: -50px;
      right: -390px;
   }
   .presentation__man {
      width: 547px;
      right: 55px;
      top: -5px;
   }
   .ability__descr, .swiper-slide__discr {
      font-size: 1.2vw;
   }
   .swiper-slide__discr {
      margin-top: 23px;
   }
   .modal-div {
      margin-left: -160px;
   }
}
/*--- Tablet ---*/
@media (max-width: 1270px) {
   .container {
      margin: auto;
      max-width: 945px;
   }
   .header__tel-number {
      font-size: 25px;
   }
   .flying-symbol_fly-1 {
      transform: rotate(30deg) translateX(6.3vw) translateY(-3.5vw);
   }
   .flying-symbol_fly-2 {
      transform: rotate(16deg) translateX(21.9vw) translateY(33.9vw);
   }
   .flying-symbol_fly-3 {
      transform: rotate(-22deg) translateX(18.4vw) translateY(47vw);
   }
   .flying-symbol_fly-5 {
      display: block;
      transform: rotate(20deg) translateX(80vw) translateY(-27vw);
   }
   .my-name {
      font-size: 54px;
   }
   .presentation__man {
      width: 530px;
      right: 55px;
      top: 2px;
   }
   .presentation__color-figure {
      width: 1050px;
      top: 60px;
      right: -320px;
   }
   .what-i-do {
      padding-top: 98px;
      padding-bottom: 105px;
   }
   .section__title {
      font-size: 54px;
   }
   .abilities {
      justify-content: space-evenly;
      margin-bottom: 81px;
      flex-wrap: wrap;
   }
   .abilities__ability {
      width: 35%;
   }
   .abilities__ability_layout {
      margin-bottom: 69px;
   }
   .ability__descr {
      font-size: 20px;
   }
   .my-works {
      padding-top: 99px;
      padding-bottom: 100px;
   }
   .swiper-container {
      height: 475px;
      margin-bottom: 65px;
   }
   .swiper-slide__discr {
      font-size: 25px;
   }
   .swiper-button-prev, .swiper-button-next,
   .promo__flying-symbol_fly-2, .promo__flying-symbol_fly-5 {
      display: none;
   }
   .swiper-pagination,
   .header-left__menu-nav_footer {
      display: block;
   }
   .promo {
      padding-top: 86px;
      padding-bottom: 86px;
   }
   .promo__flying-symbol_anim {
      transform: translateX(46vw) translateY(24vw);
   }
   .promo__flying-symbol_fly-1 {
      transform: rotate(28deg) translateX(5vw) translateY(1vw);
      font-size: 32px;
   }
   .promo__flying-symbol_fly-3 {
      transform: rotate(20deg) translateX(54vw) translateY(8.5vw);
      font-size: 25px;
   }
   .promo__flying-symbol_fly-4 {
      transform: rotate(-22deg) translateX(64vw) translateY(52vw);
      font-size: 40px;
   }
   .promo__title {
      font-size: 45px;
   }
   .promo__description {
      font-size: 18px;
   }
   .promo__description::before {
      content: '* ';
      position: static;
   }
   .header-left__menu-nav_footer {
      margin-top: 109px;
      margin-bottom: 92px;
   }
   .modal-div {
      margin-left: -170px;
   }
}
@media (max-width: 1024px) {
   .container {
      max-width: 92.18%;
   }
   .flying-symbol_fly-5 {
      display: none;
   }
   .header-left__menu-btn,
   .flying-symbol_fly-tablet {
      display: inline-block;
   }

   .header-left__menu-nav_mobile {
      display: none;
      background: #2c2e3e;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      padding: 30px;
      z-index: 9999;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   }
   .header-left__menu-close {
      display: block;
   }
   .menu-nav__menu-list_mobile {
      margin: 0;
      padding: 0;
   }
   .menu__item_mobile {
      display: block;
      list-style: none;
      margin: 10px 0;
      padding: 0;
   }
   .menu-item__link_mobile {
      font-size: 18px;
      color: rgb(255, 255, 255);
      line-height: 1.4;
      text-decoration: none;
   }

   .header__tel-number {
      margin-right: 31px;
   }
   .presentation {
      padding-bottom: 229px;
   }
   .flying-symbol_fly-1 {
      transform: rotate(30deg) translateX(8.5vw) translateY(-0.5vw);
   }
   .flying-symbol_fly-2 {
      transform: rotate(16deg) translateX(19.3vw) translateY(46.9vw);
   }
   .flying-symbol_fly-3 {
      transform: rotate(-22deg) translateX(15.3vw) translateY(55.5vw);
   }
   .flying-symbol_fly-4 {
      transform: rotate(-12deg) translateX(83.9vw) translateY(21.2vw);
   }
   .flying-symbol_fly-tablet {
      transform: rotate(14deg) translateX(42.9vw) translateY(1.1vw);
   }
   .my-name {
      margin-top: 199px;
      margin-bottom: 20px;
   }
   .btn_red {
      padding: 23px 96px;
      max-width: max-content;
   }
   .presentation__color-figure {
      width: 1120px;
      top: 61px;
      right: -442px;
      transform: rotate(5deg);
   }
   .presentation__man {
      width: 563px;
      right: -50px;
      top: -5px;
   }
   .what-i-do {
      padding-top: 85px;
      padding-bottom: 105px;
   }
   .what-i-do__title {
      margin-bottom: 88px;
   }
   .abilities {
      margin-bottom: 74px;
   }
   .abilities__ability_layout {
      margin-bottom: 62px;
   }
   .ability__descr {
      margin-top: 93px;
      line-height: 28px;
   }
   .btn_red_what-i-do {
      padding: 23px 87px;
   }
   .my-works {
      padding-top: 90px;
      padding-bottom: 102px;
   }
   .my-works__title {
      margin-bottom: 97px;
      margin-top: 0;
   }
   .swiper-container {
      height: 539px;
      margin-bottom: 86px;
   }
   .swiper-slide__discr {
      margin-top: 17px;
      font-size: 2.45vw;
   }
   .promo {
      padding-top: 74px;
      padding-bottom: 83px;
   }
   .promo__flying-symbol_fly-1 {
      transform: rotate(28deg) translateX(14.4vw) translateY(-5.4vw);
   }
   .promo__flying-symbol_fly-3 {
      transform: rotate(20deg) translateX(57.1vw) translateY(10.6vw);
   }
   .promo__flying-symbol_fly-4 {
      transform: rotate(-22deg) translateX(68.7vw) translateY(57.8vw);
   }
   .promo__title {
      font-size: 4.4vw;
      margin: 0 auto 30px auto;
   }
   .promo__description::before {
      left: 11%;
   }
   .header-left__menu-nav_footer {
      margin-top: 92px;
      margin-bottom: 92px;
   }
   .footer__interaction {
      margin-right: 0;
   }
   .modal-div {
      margin-left: -185px;
   }
}
@media (max-width: 960px) {
   .container {
      max-width: 95.83%;
   }
   .presentation {
      padding-bottom: 191px;
   }
   .flying-symbol_fly-2 {
      transform: rotate(16deg) translateX(19vw) translateY(46vw);
   }
   .flying-symbol_fly-3 {
      transform: rotate(-22deg) translateX(14vw) translateY(60vw);
   }
   .flying-symbol_fly-tablet {
      transform: rotate(14deg) translateX(38vw) translateY(1vw);
   }
   .my-name {
      font-size: 45px;
      margin-top: 166px;
      margin-bottom: 20px;
   }
   .my-description {
      font-size: 19px;
   }
   .btn_red {
      padding: 19px 68px;
   }
   .section__title {
      font-size: 5.63vw;
   }
   .presentation__color-figure {
      width: 960px;
      top: 48px;
      right: -383px;
      transform: rotate(5deg);
   }
   .presentation__man {
      width: 480px;
      right: -50px;
      top: -5px;
   }
   .promo__description {
      font-size: 17px;
   }
   .promo__flying-symbol_fly-3 {
      transform: rotate(20deg) translateX(57vw) translateY(12vw);
   }
   .promo__flying-symbol_fly-4 {
      transform: rotate(-22deg) translateX(70vw) translateY(59vw);
   }
   .modal-div {
      margin-left: -190px;
   }
}
@media (max-width: 768px) {
   .container {
      max-width: 728px;
      padding: 0 20px 0 20px;
   }
   .btn_blank_mobile {
      font-size: 0;
      border: none;
      border-radius: 100%;
      padding: 17px;
      background: url('../img/phone.svg') no-repeat;
   }
   .btn_blank:hover, .btn_red:hover {
      transition: none;
      box-shadow: none;
      transform: none;
   }
   .header__tel-number {
      font-size: 18px;
   }
   .container_presentation {
      align-items: center;
   }
   .presentation {
      padding-bottom: 7px;
   }
   .flying-symbol_fly-1 {
      transform: rotate(30deg) translateX(13vw) translateY(-9vw);
      font-size: 29px;
   }
   .flying-symbol_fly-2 {
      transform: rotate(16deg) translateX(4.5vw) translateY(5vw);
      font-size: 38px;
   }
   .flying-symbol_fly-3 {
      transform: rotate(-22deg) translateX(73vw) translateY(26.5vw);
      font-size: 27px;
   }
   .flying-symbol_fly-4 {
      transform: rotate(-12deg) translateX(82.5vw) translateY(25vw);
      font-size: 23px;
   }
   .flying-symbol_fly-tablet,
   .promo__flying-symbol_fly-1, .promo__flying-symbol_fly-3, .promo__flying-symbol_fly-4,
   .promo__title br {
      display: none;
   }
   .my-name {
      position: absolute;
      font-size: 35px;
      top: 280px;
      left: 50%;
      margin-left: -160px;
      z-index: 3;
   }
   .my-description {
      position: absolute;
      font-size: 16px;
      top: 515px;
      left: 50%;
      margin-left: -155px;
      z-index: 3;
   }
   .btn_red_presentation {
      position: absolute;
      top: 570px;
      left: 50%;
      margin-left: -135px;
      z-index: 3;
   }
   .presentation__color-figure {
      width: 930px;
      top: -20px;
      right: -165px;
      transform: rotate(5deg);
   }
   .presentation__man {
      position: relative;
      width: 360px;
      right: 5px;
      top: 7px;
   }
   .what-i-do {
      padding-top: 265px;
      padding-bottom: 105px;
   }
   .what-i-do__title {
      margin-bottom: 70px;
      font-size: 40px;
   }
   .abilities {
      margin-bottom: 40px;
   }
   .abilities__ability {
      margin-bottom: 37px;
      width: 60%;
   }
   .abilities__ability {
      margin-bottom: 37px;
      width: 54%;
   }
   .abilities__ability_layout {
      margin-bottom: 37px;
   }
   .ability__descr, .swiper-slide__discr {
      font-size: 18px;
   }
   .my-works {
      padding-top: 7vw;
      padding-bottom: 7vw;
   }
   .my-works__title {
      font-size: 27px;
      margin-bottom: 7vw;
   }
   .swiper-container {
      height: 415px;
      margin-bottom: 60px;
   }
   .swiper-slide__discr {
      font-weight: 500;
   }
   .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
   }
   .promo__title {
      font-size: 28px;
   }
   .container_footer {
      flex-wrap: wrap;
   }
   .header-left__menu-nav_footer {
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
   }
   .footer__mail {
      margin: 0 auto 0 0;
   }
   .footer-mail__text {
      font-size: 24px;
   }
   .footer__contacts {
      padding-left: 0;
      margin-bottom: 26px;
      width: 100%;
   }
   .footer__interaction {
      margin-top: 0;
      margin-bottom: 50px;
   }
   .btn_blank_footer {
      margin-bottom: 50px;
   }
   .modal-div {
      margin-left: -133px;
      padding: 0;
      width: 300px;
   }
   .modal-div::before, .modal-div::after {
      display: none;
   }
   .modal_close {
      top: -2px;
      right: -1px;
   }
   .fa-times {
      color: black;
   }
   .form__input-name, .form__input-tel, .form__input-email {
      margin: 0 10px 10px 10px;
   }
   .form__privacy-policy {
      margin: 0 0 10px 10px;
   }
   .privacy-policy__link {
      margin-left: 10px;
   }
   .form__or-call {
      margin: 0 10px 15px 10px;
   }
   .form__submit {
      padding: 13px 30px;
      margin-left: 15px;
   }
}
@media (max-width: 576px) {
   .header {
      background-color: #fbfbfb;
      padding-top: 24px;
      padding-bottom: 26px;
   }
   .fa-bars {
      font-size: 28px;
   }
   .btn_blank_mobile {
      padding: 15px;
   }


   .presentation {
      padding-bottom: 42px;
   }
   .presentation__man {
      width: 295px;
      right: -30px;
      top: 42px;
   }
   .presentation__color-figure {
      width: 660px;
      top: 47px;
      right: -191px;
   }
   .flying-symbol {
      font-size: 25px;
   }
   .flying-symbol_fly-1 {
      transform: rotate(30deg) translateX(232%) translateY(-29%);
   }
   .flying-symbol_fly-2 {
      transform: rotate(16deg) translateX(476%) translateY(367%);
   }
   .flying-symbol_fly-3 {
      font-size: 18px;
      transform: rotate(-32deg) translateX(583%) translateY(420%);
   }
   .flying-symbol_fly-4 {
      font-size: 15px;
      /* transform: rotate(18deg) translateX(721%) translateY(-78%); */
      left: auto;
      top: 28px;
   }
   .my-name {
      font-size: 30px;
      top: 234px;
      margin-left: -135px;
   }
   .my-description {
      font-size: 16px;
      top: 446px;
      margin-left: -109px;
      max-width: 215px;
      text-align: center;
      line-height: 22px;
   }
   .btn_red {
      padding: 17px 82px;
   }
   .btn_red_presentation {
      font-size: 16px;
      top: 516px;
      margin-left: -139px;
   }

   .what-i-do {
      padding-top: 224px;
      padding-bottom: 51px;
   }
   .section__title {
      font-size: 30px;
      text-align: center;
   }
   .what-i-do__title {
      margin-bottom: 43px;
   }
   .abilities {
      margin-bottom: 17px;
   }
   .abilities__ability {
      background-size: 60px;
      width: 75%;
   }
   .ability__descr {
      margin-top: 69px;
      margin-bottom: 0;
      font-size: 16px;
      line-height: 25px;
   }
   .abilities__ability_layout {
      margin-bottom: 48px;
   }
   .abilities__ability_adaptive, .abilities__ability_frontend {
      margin-bottom: 52px;
   }
   .btn_red_what-i-do {
      padding: 17px 66px;
   }

   .my-works {
      padding-bottom: 52px;
      padding-top: 42px;
   }
   .my-works__title {
      margin-bottom: 39px;
      font-size: 27px;
   }
   .container-for-swiper {
      margin-bottom: 0;
   }
   .swiper-container {
      height: 360px;
      width: 280px;
      margin-bottom: 31px;
   }
   .swiper-slide__img {
      padding-bottom: 46px;
   }
   .swiper-slide__discr {
      margin-top: 0;
   }
   .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 8px;
   }
   .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
   }
   .btn_red_my-works {
      padding: 18px 79px;
      font-size: 16px;
   }


   .promo {
      padding-top: 41px;
      padding-bottom: 45px;
   }
   .promo__title {
      margin: 0 auto 34px auto;
      line-height: 40px;
   }
   .promo__description {
      font-size: 15px;
      line-height: 29px;
   }


   .header-left__menu-nav_footer {
      margin-top: 45px;
      margin-bottom: 40px;
   }
   .menu-nav__menu-list_footer {
      font-size: 15px;
   }
   .menu__item_footer:first-child, .menu__item_footer:nth-last-child(2) {
      margin-bottom: 15px;
   }
   .footer__contacts {
      margin-bottom: 25px;
   }
   .footer__tel {
      margin-bottom: 23px;
   }
   .footer-tel__number, .footer-mail__text {
      font-size: 20px;
   }
   .btn_blank_footer {
      padding: 17px 76px;
   }
   .btn_blank_footer {
      margin-bottom: 45px;
   }
   .footer__interaction {
      margin-bottom: 47px;
   }
   .modal-div {
      margin-left: -134px;
   }
}